bower_components
node_modules
docs
.DS_Store
*~
*.swp
*.bak
temp
.mayaSwatches
.git
.svn
.hg
*.pyc
*.orig
.project
*.meta
*.vpj
*.vpw
*.vpwhistu
*.vtg

# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
# Pods - for those of you who use CocoaPods
Pods

